gi# Cver Api
arrow==1.2.2
Flask==2.3.2
glom==20.11.0
gunicorn==20.0.4
PyJWT==2.7.0
PyMySQL==1.0.2
mysql-connector-python==8.0.27
rich==10.11.0
sqlescapy==1.0.1
validators==0.18.2

# Cver Ingest
requests==2.28.2

# Testing
pytest==7.3.0
pytest-cov==4.0.0
pytest-md==0.2.0

# Dev Requirements
flake8==6.0.0
ipdb==0.13.13
